html {
  font-size: 1rem;
}

body {
  margin: 0px;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 16px 0 8px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--surface-600);
}

h2 {
  margin: 16px 0 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--surface-600);
}

h3 {
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--surface-600);
}

p, li {
  color: var(--surface-600);
  line-height: 1.6;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}